[project]
	description = A collection of samples to discuss and showcase different architectural tools and patterns for Android apps.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/陈冲 (foolchen)
[access "refs/for/refs/*"]
	read = group user/陈冲 (foolchen)
	push = group user/陈冲 (foolchen)
	label-Code-Review = -2..+2 group user/陈冲 (foolchen)
	label-Verified = -1..+1 group user/陈冲 (foolchen)
	rebase = group user/陈冲 (foolchen)
	removeReviewer = group user/陈冲 (foolchen)
	submit = group user/陈冲 (foolchen)
[access "refs/heads/*"]
	read = group user/陈冲 (foolchen)
	create = group user/陈冲 (foolchen)
	push = +force group user/陈冲 (foolchen)
	pushMerge = group user/陈冲 (foolchen)
[access "refs/tags/*"]
	push = +force group user/陈冲 (foolchen)
	pushTag = group user/陈冲 (foolchen)
	pushSignedTag = group user/陈冲 (foolchen)
